html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

/*
BARVY
czechitas  #b92e81
pozadi     #bdc3c7
tmava      #31363b
delitka    #3f464d
portfolio  #e74c3c
facebook   #3b5998
twitter    #1da1f2
*/

/*
Pod čáru přijde tvůj kód
-----------------------------------------------
*/

body {
	background-color: #bdc3c7;
	color: whitesmoke;
	font-family: sans-serif;
	padding: 20px 10px;
	margin: auto
}
.profil{
	background-color: #31363b;
	max-width: 300px;
	box-shadow:0px 0px 15px 0px black;
}

.jmeno{
	font-family: 'Montserrat', sans-serif;
	color:aliceblue
}

.hlavicka{
	position: relative;
}

.foto{
	width: 100%;
}
.logo{
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	left: 70%;
	top: 85%;
}

.obsah{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	padding: 20px 20px;
}

.odkazy li{

	display: inline-block;
	padding: 1rem 1rem;
	text-align: center;
}

.odkazy a{
	font-family: 'Montserrat', sans-serif;
	color: whitesmoke;
	text-transform: uppercase;
	text-decoration: none;
}
.portfolio{
	border-top: slategrey solid 1px;
	border-bottom: slategrey solid 1px;
	width: 100%;
	position: relative;
	left: -10px;
	
}
.portfolio a:hover, 
.portfolio a:focus{
	background-color: #e74c3c;
	padding: 1em 1em;

}
.facebook{
	
	align-content: center;
	width: 50%;

}
.facebook a:hover, 
.facebook a:focus{
	background-color: #3b5998;
	padding: 1em 1em;
}
.twitter{
	width: 50%;

}
.twitter a:hover, 
.twitter a:focus{
	background-color: #1da1f2;
	padding: 1em 1em;
}
